body, html {
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
  background-color: #0D1431; /* Dark blue background */
  background-image: url('icon-512.png'); /* Path to your logo image */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75%; /* You can adjust this value as needed */
  background-attachment: fixed; /* This keeps the background image fixed during scroll */
  color: #CDDEF2; /* Light blue text color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: shown; /* Hide overflow to prevent scrolling if not needed */
}

.container {
  background-color: #1c1c1e; /* Container background color */
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  max-width: 300px; /* Adjust to fit your design preference */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 600; /* EB Garamond semi-bold */
  margin-bottom: 20px;
  color: #CDDEF2; /* Light blue text color */
}

.output, .input {
  background-color: #5b697a; /* Adjusted color for input and output boxes */
  font-family: 'EB Garamond semi-bold', sans-serif;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: calc(100% - 20px);
  margin-bottom: 10px;
  color: #CDDEF2; /* Light blue text color */
}

.input {
  margin-bottom: 20px; /* Added space between input fields and button */
}

.button {
  background-color: #484C77; /* Button background color */
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  color: #CDDEF2;
}

